*{
  box-sizing: border-box;
}

body{
  margin: 0%;
  padding: 0%;
  background-color: hsl(0, 100%, 74%);
  background-image: url(desktop.png);
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 11em auto;
}

h1{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

p{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.main{
  flex-basis: 40%;
  margin: auto;
}

.right{
  flex-basis: 50%;
  margin: auto;
}

.try{
  background-color: hsl(248, 32%, 49%);
  color: white;
  width: 100%;
  padding: 0.5em;
  border-radius: .5em;
  border: black;
  box-shadow: 0px 5px 5px black;
}

.form{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;
  border-radius: .5em;
  box-shadow: 0px 5px 5px gray;
}

input{
  border-radius: .5em;
  padding: .8em;
  margin-bottom:1em;
}

.terms{
  font-size: 10px;
  font-weight: 400;
  color: hsl(246, 25%, 77%);
  align-self: center;
}

.claims{
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: .8em;
  border-radius: .5em;
}

.bterms{
  font-size: 10px;
  border: none;
  background-color: transparent;
  color: red;
}

@media only screen and (max-width: 991px) {
  .container{
    /* display: block; */
    flex-direction: column;
  }

  .try{
    height: 70px;
    margin-bottom: 20px;
    align-self: center;
  }

  h1{
    align-self: center;
    margin-left: 50px;
  }

  p{
    align-self: center;
  }

  .form{
    align-self: center;
  }

  .terms{
    padding-left: 15px;
  }

  .bterms{
    padding-left: 60px;
  }

}

@media only screen and (max-width: 376px){
  .container{
      display: flex;
      flex-direction: column;
      align-items: space-around;
      padding: 10px;
  }

}